html {
  font-size: 62.5%;
}

body,
input,
button,
textarea {
  font-family: 'Poppins', sans-serif;
}

body {
  color: #364453;
  background-color: #ebf0f8;
  overflow-x: hidden;
  width: 100%;
}

main section {
  padding-bottom: 6rem;
  padding-top: 6rem;
}

strong {
  font-weight: 700;
}

.container {
  max-width: 1026px !important;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.title {
  font-family: 'PT Serif', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 0px;
}

.triangle {
  position: relative;
}

.triangle::after {
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 3.2rem 1rem 0 1rem;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  width: 0;
  z-index: 99;
}

p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.75;
}

p strong {
  font-size: 2.2rem;
}

img {
  max-width: 60rem !important;
}

@media (max-width: 423px) {
  .container {
    padding: 0px;
  }
}

@media (max-width: 1026px) {
  .top-container {
    padding: 0px;
  }
}
