.product .title {
  color: #364453 !important;
  font-family: 'Poppins', sans-serif;
  font-size: 3.5rem;
  margin-bottom: 0px;
}

.product .product-image {
  margin-bottom: 4rem;
  margin-top: 5.2rem;
  width: 100%;
}

.product .product-language {
  color: #e60404;
  display: block;
  font-size: 1.8rem;
  font-style: italic;
  margin-bottom: 4.6rem;
}

.product .product-description {
  color: #364453 !important;
  font-size: 2rem;
  margin-bottom: 0px;
}

.product .product-description strong {
  font-style: italic;
}

.product .benefits ul li::before {
  background-image: url(../../img/check.svg);
  height: 2rem;
}
