.steps {
  background-color: #f2f3f8;
  counter-reset: step;
  padding: 0.6rem 0px;
}

.step {
  color: #010101ad;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  float: left;
  flex-direction: column;
  list-style-type: none;
  position: relative;
  text-align: center;
  width: calc(100% / 4);
}

.step span {
  line-height: 1.5rem;
  margin: auto;
}

.step::before {
  align-items: center;
  background-color: #2362f2;
  border: 0.4rem solid #2362f2;
  border-radius: 50%;
  box-shadow: 0px 0.3rem 0.6rem #0000005e;
  color: #fff;
  /* content: counter(step);
  counter-increment: step; */
  content: '✓';
  height: 2rem;
  display: flex;
  font-size: 0.8rem;
  font-weight: 700;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  position: relative;
  text-align: center;
  width: 2rem;
  z-index: 5;
}

.step::after {
  background-color: #2362f2;
  content: '';
  height: 0.4rem;
  left: -50%;
  position: absolute;
  top: 1rem;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}

.step.active::before {
  content: '';
  border-color: #fff;
  border-width: 0.6rem;
}

.step.active span::after {
  background-color: #2362f2;
  content: '';
  display: block;
  margin: auto;
  margin-top: 0.6rem;
  height: 0.3rem;
  width: 2rem;
}

.step.active ~ .step::before {
  content: '';
  background-color: #fff;
  border-color: #d8dff4;
}

.step.active ~ .step::after {
  background-color: #d7def3;
}

.step:first-child::after {
  content: none;
}
