.top-wrapper {
  background-color: #fff;
}

.topbar {
  background-color: #f2f3f7;
  height: 4.8rem;
}

.topbar .topbar-logo {
  height: auto;
  opacity: 0.75;
  width: 14.2rem;
}

@media (max-width: 991px) {
  .top-wrapper .container {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  .topbar .topbar-logo {
    width: 20.2rem;
  }
}
